[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
ruff = "*"
pytest = "*"
httpx = "*"
python-dotenv = "*"
pydantic-settings = "*"
databases = {extras = ["aiosqlite"], version = "*"}
rich = "*"
asgi-correlation-id = "*"
python-json-logger = "*"
python-jose = "*"
python-multipart = "*"
pipfile = "*"
passlib = {extras = ["bcrypt"], version = "==1.7.4"}
bcrypt = "==4.0.1"
fastapi = "*"

[dev-packages]
pytest-mock = "*"

[requires]
python_version = "3.12.6"
